body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: rgb(184, 156, 113);
    color: whitesmoke;
  }

.row {
    justify-content: center;
    justify-content: space-around;
    margin-top: 4rem;
    display: flex;
}

.container-sm {
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
}

.row .col-sm-2 {
    height: 400px;
    width: 300px;
}

.header .logo-container {
    justify-content: center;
    font-family: Spirax;
    font-size: 3.5rem;
    display: flex;
}

.header .topbar .navbar {
    font-size: 2rem;
    justify-content: space-around;
    font-family: "Poiret One";
    text-decoration: none;
    display: flex;
}
